<mat-expansion-panel hideToggle *ngIf="movie">
  <mat-expansion-panel-header>
    <mat-checkbox [checked]="this.movie.watched" (change)="changeWatched()"
      >Me viu?</mat-checkbox
    >
    <mat-panel-title>
      {{ this.movie.title }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li *ngIf="this.movie.description">
      <b>Descrição: </b>{{ this.movie.description }}
    </li>
    <li><b>Data: </b>{{ this.movie.dueDate }}</li>
    <li><b>Visto: </b>{{ this.movie.watched }}</li>
  </ul>
</mat-expansion-panel>
